# alles ignorieren
*
# ausser...
!*.md
!*.py
!*.ipynb
!*.csv
!*.CSV
!.gitignore
!requirements.txt
!*.yml
!*.png
!*.svg
!*.drawio
!docs/_layouts/default.html
# unabhängig davon, wo sie sich befinden
!*/
!/visualisierungen/KBW_Laufbahn_SMD.pdf
!/visualisierungen/detailliertes_zustandsdiagramm.pdf
